* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.first-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1px solid var(--gray-border-bottom);
    position: relative;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 29px;
    background-color: var(--hard-blue);
    border-bottom: 0.1px solid var(--hard-blue);
}

.social-icons-actoin {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 100%; 
    margin-left: 25px;
    transition: all 0.3s linear;
}

.social-icons-actoin:hover {
    transform: rotate(180deg);
}

.twitter-icon { 
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMTQiIGhlaWdodD0iMTQiCnZpZXdCb3g9IjAgMCAzMCAzMCIKc3R5bGU9IiBmaWxsOiNmZmZmZmY7Ij4gICAgPHBhdGggZD0iTTI4LDYuOTM3Yy0wLjk1NywwLjQyNS0xLjk4NSwwLjcxMS0zLjA2NCwwLjg0YzEuMTAyLTAuNjYsMS45NDctMS43MDUsMi4zNDUtMi45NTFjLTEuMDMsMC42MTEtMi4xNzIsMS4wNTUtMy4zODgsMS4yOTUgYy0wLjk3My0xLjAzNy0yLjM1OS0xLjY4NS0zLjg5My0xLjY4NWMtMi45NDYsMC01LjMzNCwyLjM4OS01LjMzNCw1LjMzNGMwLDAuNDE4LDAuMDQ4LDAuODI2LDAuMTM4LDEuMjE1IGMtNC40MzMtMC4yMjItOC4zNjMtMi4zNDYtMTAuOTk1LTUuNTc0QzMuMzUxLDYuMTk5LDMuMDg4LDcuMTE1LDMuMDg4LDguMDk0YzAsMS44NSwwLjk0MSwzLjQ4MywyLjM3Miw0LjQzOSBjLTAuODc0LTAuMDI4LTEuNjk3LTAuMjY4LTIuNDE2LTAuNjY3YzAsMC4wMjMsMCwwLjA0NCwwLDAuMDY3YzAsMi41ODUsMS44MzgsNC43NDEsNC4yNzksNS4yMyBjLTAuNDQ3LDAuMTIyLTAuOTE5LDAuMTg3LTEuNDA2LDAuMTg3Yy0wLjM0MywwLTAuNjc4LTAuMDM0LTEuMDAzLTAuMDk1YzAuNjc5LDIuMTE5LDIuNjQ5LDMuNjYyLDQuOTgzLDMuNzA1IGMtMS44MjUsMS40MzEtNC4xMjUsMi4yODQtNi42MjUsMi4yODRjLTAuNDMsMC0wLjg1NS0wLjAyNS0xLjI3My0wLjA3NWMyLjM2MSwxLjUxMyw1LjE2NCwyLjM5Niw4LjE3NywyLjM5NiBjOS44MTIsMCwxNS4xNzYtOC4xMjgsMTUuMTc2LTE1LjE3N2MwLTAuMjMxLTAuMDA1LTAuNDYxLTAuMDE1LTAuNjlDMjYuMzgsOC45NDUsMjcuMjg1LDguMDA2LDI4LDYuOTM3eiI+PC9wYXRoPjwvc3ZnPg==') 50% 50% no-repeat;
}

.instagram-icon {
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMjAiIGhlaWdodD0iMjAiCnZpZXdCb3g9IjAgMCAyNCAyNCIKc3R5bGU9IiBmaWxsOiNmZmZmZmY7Ij4gICAgPHBhdGggZD0iTSA4IDMgQyA1LjI0MyAzIDMgNS4yNDMgMyA4IEwgMyAxNiBDIDMgMTguNzU3IDUuMjQzIDIxIDggMjEgTCAxNiAyMSBDIDE4Ljc1NyAyMSAyMSAxOC43NTcgMjEgMTYgTCAyMSA4IEMgMjEgNS4yNDMgMTguNzU3IDMgMTYgMyBMIDggMyB6IE0gOCA1IEwgMTYgNSBDIDE3LjY1NCA1IDE5IDYuMzQ2IDE5IDggTCAxOSAxNiBDIDE5IDE3LjY1NCAxNy42NTQgMTkgMTYgMTkgTCA4IDE5IEMgNi4zNDYgMTkgNSAxNy42NTQgNSAxNiBMIDUgOCBDIDUgNi4zNDYgNi4zNDYgNSA4IDUgeiBNIDE3IDYgQSAxIDEgMCAwIDAgMTYgNyBBIDEgMSAwIDAgMCAxNyA4IEEgMSAxIDAgMCAwIDE4IDcgQSAxIDEgMCAwIDAgMTcgNiB6IE0gMTIgNyBDIDkuMjQzIDcgNyA5LjI0MyA3IDEyIEMgNyAxNC43NTcgOS4yNDMgMTcgMTIgMTcgQyAxNC43NTcgMTcgMTcgMTQuNzU3IDE3IDEyIEMgMTcgOS4yNDMgMTQuNzU3IDcgMTIgNyB6IE0gMTIgOSBDIDEzLjY1NCA5IDE1IDEwLjM0NiAxNSAxMiBDIDE1IDEzLjY1NCAxMy42NTQgMTUgMTIgMTUgQyAxMC4zNDYgMTUgOSAxMy42NTQgOSAxMiBDIDkgMTAuMzQ2IDEwLjM0NiA5IDEyIDkgeiI+PC9wYXRoPjwvc3ZnPg==') 50% 50% no-repeat;
}

.linkedin-icon {
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMjAiIGhlaWdodD0iMjAiCnZpZXdCb3g9IjAgMCA1MCA1MCIKc3R5bGU9IiBmaWxsOiNmZmZmZmY7Ij48cGF0aCBkPSJNIDggMy4wMTE3MTg4IEMgNi4zMTI2MDkzIDMuMDExNzE4OCA0LjgzNTQ3ODkgMy40OTE2MzI4IDMuNzUzOTA2MiA0LjM2NTIzNDQgQyAyLjY3MjMzMzcgNS4yMzg4MzYgMi4wMTE3MTg4IDYuNTMzMjE4IDIuMDExNzE4OCA3Ljk0NzI2NTYgQyAyLjAxMTcxODggMTAuNjkwODM2IDQuNDY4NzA3OCAxMi44MTQ0NjcgNy43MTY3OTY5IDEyLjk0MTQwNiBBIDAuOTg4MDk4NzggMC45ODgwOTg3OCAwIDAgMCA4IDEyLjk4ODI4MSBDIDkuNzUzNTY2IDEyLjk4ODI4MSAxMS4yNDYxOTEgMTIuNDc0MjY3IDEyLjMxMjUgMTEuNTY0NDUzIEMgMTMuMzc4ODA5IDEwLjY1NDYzOSAxMy45ODgyODEgOS4zNDI5MzUzIDEzLjk4ODI4MSA3Ljk0NzI2NTYgQSAwLjk4ODA5ODc4IDAuOTg4MDk4NzggMCAwIDAgMTMuOTg2MzI4IDcuODkyNTc4MSBDIDEzLjgzMjMwNyA1LjEzMTY4MzQgMTEuMzc0NzgxIDMuMDExNzE4NyA4IDMuMDExNzE4OCB6IE0gOCA0Ljk4ODI4MTIgQyAxMC42MDkwNyA0Ljk4ODI4MTIgMTEuODk1ODgzIDYuMjY5MzQ0OCAxMi4wMDU4NTkgNy45NzI2NTYyIEMgMTEuOTk4NzU5IDguODA0OTMzNSAxMS42NzY1NTkgOS41MTE4OTkxIDExLjAzMTI1IDEwLjA2MjUgQyAxMC4zNzg4MDkgMTAuNjE5MTg2IDkuMzcxNDM0IDExLjAxMTcxOSA4IDExLjAxMTcxOSBDIDUuMzk4MDU0MiAxMS4wMTE3MTkgMy45ODgyODEzIDkuNTk5MTcwNCAzLjk4ODI4MTIgNy45NDcyNjU2IEMgMy45ODgyODEyIDcuMTIxMzEzMiA0LjMyNzY2NjMgNi40NDIyNDIxIDQuOTk2MDkzOCA1LjkwMjM0MzggQyA1LjY2NDUyMTEgNS4zNjI0NDU0IDYuNjg3MzkwNyA0Ljk4ODI4MTMgOCA0Ljk4ODI4MTIgeiBNIDMgMTUgQSAxLjAwMDEgMS4wMDAxIDAgMCAwIDIgMTYgTCAyIDQ1IEEgMS4wMDAxIDEuMDAwMSAwIDAgMCAzIDQ2IEwgMTMgNDYgQSAxLjAwMDEgMS4wMDAxIDAgMCAwIDE0IDQ1IEwgMTQgMzUuNjY0MDYyIEwgMTQgMTYgQSAxLjAwMDEgMS4wMDAxIDAgMCAwIDEzIDE1IEwgMyAxNSB6IE0gMTggMTUgQSAxLjAwMDEgMS4wMDAxIDAgMCAwIDE3IDE2IEwgMTcgNDUgQSAxLjAwMDEgMS4wMDAxIDAgMCAwIDE4IDQ2IEwgMjggNDYgQSAxLjAwMDEgMS4wMDAxIDAgMCAwIDI5IDQ1IEwgMjkgMjkgTCAyOSAyOC43NSBMIDI5IDI4LjUgQyAyOSAyNi41NTU1NzcgMzAuNTU1NTc3IDI1IDMyLjUgMjUgQyAzNC40NDQ0MjMgMjUgMzYgMjYuNTU1NTc3IDM2IDI4LjUgTCAzNiA0NSBBIDEuMDAwMSAxLjAwMDEgMCAwIDAgMzcgNDYgTCA0NyA0NiBBIDEuMDAwMSAxLjAwMDEgMCAwIDAgNDggNDUgTCA0OCAyOCBDIDQ4IDIzLjg3MzQ3NiA0Ni43ODc4ODggMjAuNjA0NDU0IDQ0Ljc0NDE0MSAxOC4zNzUgQyA0Mi43MDAzOTQgMTYuMTQ1NTQ2IDM5Ljg0OTIxMiAxNSAzNi43ODcxMDkgMTUgQyAzMi44ODI4NzIgMTUgMzAuNTIxNjMxIDE2LjQyNjA3NiAyOSAxNy42MDE1NjIgTCAyOSAxNiBBIDEuMDAwMSAxLjAwMDEgMCAwIDAgMjggMTUgTCAxOCAxNSB6IE0gNCAxNyBMIDEyIDE3IEwgMTIgMzUuNjY0MDYyIEwgMTIgNDQgTCA0IDQ0IEwgNCAxNyB6IE0gMTkgMTcgTCAyNyAxNyBMIDI3IDE5LjYzODY3MiBBIDEuMDAwMSAxLjAwMDEgMCAwIDAgMjguNzQ0MTQxIDIwLjMwNjY0MSBDIDI4Ljc0NDE0MSAyMC4zMDY2NDEgMzEuNzA5ODQxIDE3IDM2Ljc4NzEwOSAxNyBDIDM5LjM2MDAwNyAxNyA0MS42MTU1MjggMTcuOTIyMjY4IDQzLjI2OTUzMSAxOS43MjY1NjIgQyA0NC45MjM1MzQgMjEuNTMwODU4IDQ2IDI0LjI2MTUyNCA0NiAyOCBMIDQ2IDQ0IEwgMzggNDQgTCAzOCAyOC41IEEgMS4wMDAxIDEuMDAwMSAwIDAgMCAzNy45MTYwMTYgMjguMDg5ODQ0IEMgMzcuNjk0MDYxIDI1LjI2NDExIDM1LjM4MDMzIDIzIDMyLjUgMjMgQyAyOS40NzQ0MjMgMjMgMjcgMjUuNDc0NDIzIDI3IDI4LjUgTCAyNyAyOC43NSBMIDI3IDI5IEwgMjcgNDQgTCAxOSA0NCBMIDE5IDE3IHoiPjwvcGF0aD48L3N2Zz4=') 50% 50% no-repeat;
}

.google-plus-icon {
    margin-right: 25px;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMjAiIGhlaWdodD0iMjAiCnZpZXdCb3g9IjAgMCA1MCA1MCIKc3R5bGU9IiBmaWxsOiNmZmZmZmY7Ij48cGF0aCBkPSJNIDE3LjE4NzUgMTAuOTM3NSBDIDkuNDIxODc1IDEwLjkzNzUgMy4xMjUgMTcuMjM0Mzc1IDMuMTI1IDI1IEMgMy4xMjUgMzIuNzY1NjI1IDkuNDIxODc1IDM5LjA2MjUgMTcuMTg3NSAzOS4wNjI1IEMgMjQuOTUzMTI1IDM5LjA2MjUgMzEuMjUgMzIuNzY1NjI1IDMxLjI1IDI1IEMgMzEuMjUgMjQuMDM1MTU2IDMxLjE0NDUzMSAyMy4wOTM3NSAzMC45NjA5MzggMjIuMTg3NSBMIDMwLjg4MjgxMyAyMS44NzUgTCAxNy4xODc1IDIxLjg3NSBMIDE3LjE4NzUgMjYuNTYyNSBMIDI2LjU2MjUgMjYuNTYyNSBDIDI1LjgxNjQwNiAzMC45OTYwOTQgMjEuODMyMDMxIDM0LjM3NSAxNy4xODc1IDM0LjM3NSBDIDEyLjAwNzgxMyAzNC4zNzUgNy44MTI1IDMwLjE3OTY4OCA3LjgxMjUgMjUgQyA3LjgxMjUgMTkuODIwMzEzIDEyLjAwNzgxMyAxNS42MjUgMTcuMTg3NSAxNS42MjUgQyAxOS41MzEyNSAxNS42MjUgMjEuNjY3OTY5IDE2LjQ5MjE4OCAyMy4zMTI1IDE3LjkxNDA2MyBMIDI2LjY3MTg3NSAxNC42MjUgQyAyNC4xNzE4NzUgMTIuMzM1OTM4IDIwLjg0Mzc1IDEwLjkzNzUgMTcuMTg3NSAxMC45Mzc1IFogTSAzOS4wNjI1IDE3LjE4NzUgTCAzOS4wNjI1IDIxLjg3NSBMIDM0LjM3NSAyMS44NzUgTCAzNC4zNzUgMjUgTCAzOS4wNjI1IDI1IEwgMzkuMDYyNSAyOS42ODc1IEwgNDIuMTg3NSAyOS42ODc1IEwgNDIuMTg3NSAyNSBMIDQ2Ljg3NSAyNSBMIDQ2Ljg3NSAyMS44NzUgTCA0Mi4xODc1IDIxLjg3NSBMIDQyLjE4NzUgMTcuMTg3NSBaIj48L3BhdGg+PC9zdmc+') 50% 50% no-repeat;
}

.author-info {
    display: inherit;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    position: absolute;
    left: 270px;
}

.author-action {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    line-height: 89.5%;
    color: var(--light-gray);
}

.author-email {
    margin-right: 30px;
}

.register-login-container {
    margin: 0px 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.container-action {
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    line-height: 89.5%;
    color: var(--light-gray);
    cursor: pointer;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 25px;
}

.container-action:hover {
    color: var(--hard-blue);
}

.login-btn {
    margin-right: 5px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAQCAYAAAAI0W+oAAAAAXNSR0IArs4c6QAAAlFJREFUOE+1lF9IU3EUx79r17XtvuympLkRGKRMVpZzMrKHIkyIHqKQXqKsKOohsjZcrFa6zBLL4YP/igjquXzIpvRSUqD9cxvWloKkDfqjm+5uQbvOeeNeuTcjY9utzuPhnPP5nXO+5ydjWZaFBOOyHvZOoqPbD4ZZAEkSqKrU4ejhIqjVxG8VZVJA4TCD9s53GPaEcMFeijJjDr5OfUerawRqkoDdtglZWSt+gUkC3e+ZgMcbgvXMRmg0CrGguy+I/sdBNFwqA7XEzwVIArnaRhBnkqizlEAul4mgP/klgbjddHT5EY3N/V8QTc/BanuB4mIKJ4/roVTK+Y4SiQXcvjOKwPsImi6beHEstYxHl0yy6L4VgNcXxtXGcmRnr+Trzc4ycF7xIH+NGqdPGaBQ/AMxxGIJOOpfo2JLHqr3FfAgTgju/iAaLhpF+F91JCQPDk2hucWLRqeJlzIHPnFMj+3b8iH7qQ+RlfHohExuVLWWQRypWTxQV9tbuK6bkZurWvb8MwbF40m8GQ7hycAnPB34DId9Mw86d/4lyk2rsXvXWhhLc0SRCNS0QfPzLHrdH3H33hj0egqVO7QwGCisopR8LZpm4A9E+BifL4yaQ4XYu6cABLE4x7RAXBftnX6MjkVwtnYDigo1y+5BeP3E5Dc0XfNAqyVhs5bw3aUEcQf6oOcDHvUF4aw3Qqcl0/qCp6fjsDteYWtFHg4eWJ8aNDPD8Ae6v3odqnbq0oIIQc+ef0HXzQBaW8ypQePjUVjqhkBHExlBhGCVSo4bzWb8ALfmEUUFp4OUAAAAAElFTkSuQmCC');
}

.register-btn {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAQCAYAAAAI0W+oAAAAAXNSR0IArs4c6QAAAcVJREFUOE9j/P///38GEgFIx7Xr7xnmLbjJcPHSO4a/f/8zCAuzM0RHqDB4e8kxsLExYZjISKpFIEs2bn7IsHjJbYb0VE0GO1sJBnZ2ZoaHj74w9PZfArPra4wYeHlZUSwj2aK7dz8xVNWdZkhP0WRwdJBiYGREmPf69Q+GqtrTYMtjo1Ups2jx0tsMV668Z6irMWLg5mbBCKJt2x8zbNj0gKGn04KBjw/hK5J91D/xMgMzCxNDdoYWAzMzknegVp4+85qhf+IVhv4eCwZxcU64Q8iySESEAyNoYCZSxaIXL74zgHzEycnM4OYqgzWt3r7ziWHd+vsM5aX6DJYW4vA4JNpHL199Z6isPs2gpMTLIMDPhjdD/Pr1j+HQ4ecMFWUGDBbmYmC1RFsESm01DWcY6qqMGDQ1BfBa9OPHX4aG5rMM2lqC8CCmyCJQngK5/Nmzbwx+vvLwVEh1i759+8NQ13iW4ebNDwytzaYMerpCYJ9S3SKQoWvXPwD7qq3ZlHY+oqtFoGD6+fMvAy8vGwMTtCylSdBhS37fv/9lqGs8w2BkIMIQGaFMWvIGubKj6wLDwcMviKpUZGW4GRrrjBkUFXnB6gFB3R3gxg2TvQAAAABJRU5ErkJggg==');
}