:root {
    --blue: #bcddff;
    --hard-blue: #2d3092;
    --indigo: #3e44ec;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #1e9d78;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #0b0b1d;
    --light-gray: #86878a;
    --gray-border-bottom: #eeeeee;
    --background-color-logo: #f4f4f4;
    --blue-name: #250051;
    --badge-gray: #b2b2b2;
    --facebook-color: #3b5998;
    --instagram-color: #bb1500;
    --google-plus-colorL: #dd4b39;
}